html, * {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  min-height: 100%;
  background-color: #333;
  padding: 10px;
  font-size: 16px;
  display: grid;
}

#sequencer {
  min-height: 200px;
  color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#pads {
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  margin-top: 20px;
  display: grid;
}

.pad:active {
  background-color: #b2d2e2;
}

.pad {
  min-height: 10vh;
  text-transform: uppercase;
  color: #333;
  background-color: #c0c0d0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}

.arrow-button {
  color: silver;
  background-color: #333;
}

.inst-button {
  background-color: #8ed;
  border-color: #8ed;
}

.fx1-button {
  background-color: #c8d;
  border-color: #c8d;
}

.fx2-button {
  background-color: #e7d;
  border-color: #e7d;
}

.edit-button {
  color: #f7f7f7;
  background-color: #b44;
  border-color: #b44;
}

.play-button {
  color: #444;
  background-color: #5ef;
  border-color: #5ef;
}

.record-button {
  color: #f7f7f7;
  background-color: #c44;
  border-color: #c44;
}

#song-editor, #phrase-editor, #chain-editor, .editor-page {
  padding: 10px;
}

#song-editor-header, .song-editor-bars {
  grid-template-columns: repeat(9, 1fr);
  display: grid;
}

#song-editor-header, .song-editor-bars div {
  text-align: center;
}

#chain-editor-header {
  width: 50%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
}

@media (orientation: landscape) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }

  #sequencer {
    margin-right: 20px;
  }

  footer {
    grid-column: 2 / 3;
  }
}

@media (orientation: portrait) {
  body {
    grid-template-rows: 1fr auto;
  }

  footer {
    grid-row: 2 / 3;
  }
}

