html, * {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  color: #333;
  min-height: 100%;
  background-color: #444;
  padding: 10px;
  font-size: 16px;
  display: grid;
}

#sequencer {
  min-height: 200px;
  color: #eee;
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px #222, 0 1px 2px #222;
}

#initializer {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 40%;
}

.active-chain:after {
  color: #69f;
  content: ">";
}

.inactive-chain:after {
  content: " ";
}

#nav-menu, #pads, #sample-pads {
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  margin-top: 20px;
  display: grid;
}

.pad:active {
  background-color: #b2d2e2;
}

.pad, .menu-pad {
  min-height: 10vh;
  text-transform: uppercase;
  color: #333;
  background-color: #c0c0d0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 1px 3px #222, 0 1px 2px #222;
}

.menu-pad {
  text-align: center;
  min-height: 5vh;
}

.arrow-button {
  color: silver;
  background-color: #444;
  border: 1px solid #777;
  font-size: 24px;
  font-weight: bold;
}

.inst-button {
  background-color: #8ed;
  border-color: #8ed;
}

.fx1-button {
  background-color: #c8d;
  border-color: #c8d;
}

.fx2-button {
  background-color: #e7d;
  border-color: #e7d;
}

.edit-button {
  color: #f7f7f7;
  background-color: #b44;
  border-color: #b44;
}

.play-button {
  color: #444;
  background-color: #5ef;
  border-color: #5ef;
}

.record-button {
  color: #f7f7f7;
  background-color: #c44;
  border-color: #c44;
}

.mode-button {
  color: #f7f7f7;
  background-color: #557;
  border-color: #557;
}

#song-editor, #phrase-editor, #chain-editor, .editor-page {
  padding: 10px;
}

#song-editor-header, .song-editor-bars {
  grid-template-columns: repeat(9, 1fr);
  display: grid;
}

#song-editor-header, .song-editor-bars div {
  text-align: center;
}

#chain-editor-header, .chain-editor-grid {
  width: 50%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
}

.active-cell {
  background-color: #b2d2e2;
}

@media (orientation: landscape) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }

  #sequencer {
    margin-right: 20px;
  }

  #nav-menu {
    grid-area: 2 / 1 / 3 / 2;
  }

  footer {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (orientation: portrait) {
  body {
    grid-template-rows: 1fr .25fr 1fr;
  }

  footer {
    grid-row: 3 / 4;
  }
}

