html, * {
    box-sizing: border-box;
}

html, body {
    font-family: monospace;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    background-color: #444;
    color: #333;
    padding: 10px;
    min-height: 100%;
    display: grid;
}

#sequencer {
    border: 1px solid #777;
    min-height: 200px;
    border-radius: 5px;
    color: #eee;
    overflow: hidden;
    box-shadow: 0 1px 3px #222, 0 1px 2px #222;
}

#sequencer {
    width: 100%;
    height: 100%;
}

#initializer {
    padding-top: 40%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.active-chain::after {
    color: #69f;
    content: ">"
}
.inactive-chain::after {
    content: "\00a0"
}

#nav-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw 2vw;
    margin-top: 20px;
}

#pads,
#sample-pads {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw 2vw;
}

.pad:active {
    background-color: rgb(178, 210, 226);
}

.pad,
.menu-pad {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c0c0d0;
    display: inline-block;
    min-height: 10vh;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    box-shadow: 0 1px 3px #222, 0 1px 2px #222;
}

.menu-pad {
    text-align: center;
    min-height: 5vh;
}

.arrow-button {
    border: 1px solid #777;
    background-color: #444;
    color: #c0c0c0;
    font-weight: bold;
    font-size: 24px;
}

.inst-button {
    background-color: #88eedd;
    border-color: #88eedd;
}
.fx1-button {
    background-color: #cc88dd;
    border-color: #cc88dd;
}

.fx2-button {
    background-color: #ee77dd;
    border-color: #ee77dd;
}
.edit-button {
    background-color: #bb4444;
    border-color: #bb4444;
    color: #f7f7f7;
}
.play-button {
    background-color: #55eeff;
    border-color: #55eeff;
    color: #444;
}
.record-button {
    background-color: #cc4444;
    border-color: #cc4444;
    color: #f7f7f7;
}
.mode-button {
    background-color: #557;
    border-color: #557;
    color: #f7f7f7;
}


#song-editor,
#phrase-editor,
#chain-editor,
.editor-page {
    padding: 10px;
}

#song-editor-header,
.song-editor-bars {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#song-editor-header,
.song-editor-bars div {
    text-align: center;
}

#chain-editor-header,
.chain-editor-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 50%;
}

.active-cell {
    background-color:rgb(178, 210, 226);
}

@media (orientation: landscape) {
    body {
        grid-template-columns: repeat(2, 1fr);
    }
    #sequencer {
        margin-right: 20px;
    }
    #nav-menu {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    footer {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (orientation: portrait) {
    body {
        grid-template-rows: 1fr 0.25fr 1fr;
    }
    footer {
        grid-row-start: 3;
        grid-row-end: 4;
    }
}